In [5]:
# !pip install mysql-connector-python

In [7]:
import mysql.connector

In [12]:
db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "4310"
)
# myCursor = db.cursor()
# myCursor.execute("CREATE TABLE tweets")

DatabaseError: 2003 (HY000): Can't connect to MySQL server on 'localhost:3306' (111)